<div class="card">
	<div class="pull-right" id="post-note-btn-container">
		<%= render "notes/note_crud_links",
			meeting: meeting,
			note_exists: meeting.has_post_notes?,
			note_type: "Post" %>
	</div>
	<p>
		<i class="fa fa-circle"></i>
		Post Notes
	</p>
	<br>
	<p id="post-note-body">
		<% if meeting.has_post_notes? %>
			<%= meeting.post_note_content %>
		<% else %>
			<small class="medium-gray">Empty</small>
		<% end %>

		<% if meeting.has_post_notes? %>
			<%= render "notes/last_updated", meeting: meeting, note_id: 3 %>
		<% end %>
	</p>
</div>
