<div class="card create-edit-note-container">
	<small class="medium-gray">
		Tap "Add", "Edit", or "Delete" above to create, edit, or remove
		a Pre, Current, or Post note for this meeting.
	</small>
</div>
