<%= render "meetings/filtered_meeting", meeting: meeting, note_type: note_type %>

<%= render "meetings/show_create_edit_note_container" %>

<footer class="navbar navbar-default navbar-fixed-bottom navbar-footer"
				role="navigation">
	<div class="center">
		<% @meetings.each_with_index do |m, i| %>
			<%= link_to meeting_show_filter_path(note_type: note_type, index: i),
				title: m.subject, remote: true do %>
				<%= render "notes/note_type_icons_default", note_type: note_type %>
				<%#= i + 1 %>
				&nbsp;
			<% end %>
		<% end %>
	</div>
	<!-- <div class="row center">
		<div class="col-xs-6">
			<i class="fa fa-arrow-circle-left"></i>
			<span>Prev</span>
		</div>
		<div class="col-xs-6">
			<i class="fa fa-arrow-circle-right"></i>
			<span>
				Next
			</span>
		</div>
	</div> -->
 </footer>
