<div class="card">
	<p>
		<i class="fa fa-group"></i>
		Attendees (<%= num_attendees(meeting) %>)
	</p>
	<br>
	<p>
		<% if attendees_exist?(meeting) %>
			<% attendees(meeting).each_with_index do |name, i| %>
			<%= name %><%= "," unless last_item?(i, num_attendees(meeting)) %>
			<% end %>
		<% else %>
			<small class="medium-gray">None</small>
		<% end %>
	</p>
</div>
