<div class="card">
	<div class="pull-right" id="pre-note-btn-container">
		<%= render "notes/note_crud_links",
			meeting: meeting,
			note_exists: meeting.has_pre_notes?,
			note_type: "Pre" %>
	</div>
	<p class="card-header">
		<i class="fa fa-circle-o"></i>
		Pre Notes
	</p>
	<br>
	<p id="pre-note-body">
		<% if meeting.has_pre_notes? %>
			<%= meeting.pre_note_content %>
		<% else %>
			<small class="medium-gray">Empty</small>
		<% end %>

		<% if meeting.has_pre_notes? %>
			<%= render "notes/last_updated", meeting: meeting, note_id: 1 %>
		<% end %>
	</p>
</div>
