<%= render "layouts/nav.html.erb" %>

<section id="meetings-index">
	<%= render "meetings/index", meetings: @meetings %>
</section>

<section id="meeting-show"></section>

<section id="meeting-show-filter"></section>
