<section id="header-container">
	<div class="row center">
		<div class="col-sm-6 col-sm-offset-3">
			<h1><%= todays_date %></h1>
			<p>
				<%= time_of_day %>, Ben. It's currently <%= current_time %>.
			</p>
		</div>
	</div>
</section>

<section id="filter-container">
	<div class="row center">
		<div class="col-xs-6">
			<i class="fa fa-list-alt fa-3x"></i>
			<br>
			Today <span class="badge">6</span>
		</div>
		<div class="col-xs-6">
			<i class="fa fa-calendar fa-3x"></i>
			<br>
			Calendar
		</div>
	</div>
</section>

<section id="meetings-container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="card">
				<div class="pull-right">
					<i class="fa fa-plus-circle fa-3x"></i>
				</div>
				<div class="inline-block meeting-time">
					<small>
						8:00 AM
						<br>
						<span class="medium-gray">9:00 AM</span>
					</small>
				</div>
				<div class="inline-block meeting-name">
					<strong>
						BREAKFAST
						<br>
						<i class="fa fa-circle-o"></i>
						<i class="fa fa-dot-circle-o"></i>
					</strong>
					<br>
				</div>
			</div>
			<div class="card">
				<div class="pull-right">
					<i class="fa fa-plus-circle fa-3x"></i>
				</div>
				<div class="inline-block meeting-time">
					<small>
						1:45 PM
						<br>
						<span class="medium-gray">3:00 PM</span>
					</small>
				</div>
				<div class="inline-block meeting-name">
					<span>LUNCH</span>
					<br>
					<br>
				</div>
			</div>
			<div class="card">
				<div class="inline-block meeting-time">
					<small>
						7:00 PM
						<br>
						<span class="medium-gray">7:30 PM</span>
					</small>
				</div>
				<div class="inline-block meeting-name">
					<strong>
						DINNER
						<br>
						<i class="fa fa-circle-o"></i>
						<i class="fa fa-dot-circle-o"></i>
						<i class="fa fa-circle"></i>
					</strong>
					<br>
				</div>
			</div>
			<div class="card">
				<div class="inline-block meeting-time">
					<small>
						8:30 PM
						<br>
						<span class="medium-gray">9:00 PM</span>
					</small>
				</div>
				<div class="inline-block meeting-name">
					<strong>
						DESSERT
						<br>
						<i class="fa fa-circle-o"></i>
						<i class="fa fa-dot-circle-o"></i>
						<i class="fa fa-circle"></i>
					</strong>
					<br>
				</div>
			</div>
			<div class="card">
				<div class="pull-right">
					<i class="fa fa-plus-circle fa-3x"></i>
				</div>
				<div class="inline-block meeting-time">
					<small>
						10:30 PM
						<br>
						<span class="medium-gray">10:45 PM</span>
					</small>
				</div>
				<div class="inline-block meeting-name">
					<span>LATE NIGHT SNACK</span>
					<br>
					<br>
				</div>
			</div>
			<div class="card">
				<div class="pull-right">
					<i class="fa fa-plus-circle fa-3x"></i>
				</div>
				<div class="inline-block meeting-time">
					<small>
						2:18 AM
						<br>
						<span class="medium-gray">3:00 AM</span>
					</small>
				</div>
				<div class="inline-block meeting-name">
					<span>DRUNK FOOD</span>
					<br>
					<br>
				</div>
			</div>
			<div class="card">
				<div class="pull-right">
					<i class="fa fa-plus-circle fa-3x"></i>
				</div>
				<div class="inline-block meeting-time">
					<small>
						3:45 AM
						<br>
						<span class="medium-gray">7:30 AM</span>
					</small>
				</div>
				<div class="inline-block meeting-name">
					<strong>
						SLEEP
						<br>
						<i class="fa fa-circle-o"></i>
					</strong>
					<br>
				</div>
			</div>
		</div>
	</div>
</section>
