<% if @timeout_msg %>
	<div class="alert alert-warning">
		<%= @timeout_msg %>
	</div>
<% end %>
<div class="row center">
	<div class="col-sm-6 col-sm-offset-3" id="login-container">
		<%= link_to get_login_url do %>
		<i class="fa fa-sticky-note-o"></i>
		<br>
		View today's meetings and manage your notes.
		<br>
		<i class="fa fa-sticky-note-o"></i>
		<% end %>
	</div>
</div>
